body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f6f9;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

.calculadora {
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    text-align: center;
    width: 320px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
}

.botoes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 12px;
    cursor: pointer;
    font-size: 18px;
}

h2 {
    margin-top: 20px;
}